VITE_API_URL=http://113.173.37.101:8000/api #local host 
# VITE_API_URL=http://localhost:8000/api
# local host: http://localhost:5173

VITE_REVERB_APP_KEY=customer-management
VITE_REVERB_HOST=113.173.37.101 #public IP your browser hits, OK
# VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=ws    # NOT http